@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import "variables";
@import "reset";
@import "login";
@import "notifications";
@import "chat";
@import "game";
@import "board";
@import "home";
@import "lobby";
@import "signup";
@import "profile";
@import "profile_edit";
@import "password";
* {
  box-sizing: border-box;
}

button {
  font-family: "Nanum Pen Script", cursive;
  :focus {
    outline: none;
  }
}

html {
  height: 80%;
  margin: 0 auto;
  width: 70%;
}

body {
  font-size: 22px;
  font-family: "Nanum Pen Script", cursive;
  background-color: $greyColor;
  min-height: 100%;
  .loginBox,
  .jsRooms,
  .gameContainer {
    display: none;
    .wordSpace {
      display: none;
    }
  }
  &.loggedOut {
    .loginBox {
      display: block;
    }
  }
  &.loggedIn {
    .jsRooms {
      display: flex;
    }
  }
  &.enterRoom {
    .jsRooms {
      display: none;
    }
    .gameContainer {
      display: flex;
    }
  }
  footer {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
}

nav {
  font-size: 28px;
  outline: none;
  a {
    text-decoration: none;
  }
  margin-bottom: 50px;

  img {
    width: 30px;
    height: 30px;
    border-radius: 25%;
  }
  .nav-link-logout {
    position: absolute;
    right: 50px;
  }
}
