@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import "variables";
@import "reset";
@import "login";
@import "notifications";
@import "chat";
@import "game";
@import "board";
@import "home";
@import "lobby";
@import "signup";

* {
  box-sizing: border-box;
}

button {
  font-family: "Nanum Pen Script", cursive;
  :focus {
    outline: none;
  }
}

html {
  height: 100%;
}

body {
  font-size: 22px;
  font-family: "Nanum Pen Script", cursive;
  background-color: $greyColor;
  min-height: 100%;
  .loginBox,
  .jsRooms,
  .gameContainer {
    display: none;
  }
  &.loggedOut {
    .loginBox {
      display: block;
    }
  }
  &.loggedIn {
    .jsRooms {
      display: flex;
    }
  }
  &.enterRoom {
    .jsRooms {
      display: none;
    }
    .gameContainer {
      display: flex;
    }
  }
  footer {
    margin-top: 100px;
    text-align: right;
  }
}

nav {
  font-size: 28px;
  outline: none;
  a {
    text-decoration: none;
  }
  margin-bottom: 50px;
}
