extends base
block content 
    div
        h4 게임 페이지입니다!
        if loggedInUser
            h6 #{loggedInUser.nickname}님 반갑습니다!
            a(href="/logout") 로그아웃

    .gameContainer#jsGame
        .main 
            #jsNotifs
            div#jsAnswer
            form.word__form#jsWord
                input(type="text", placeholder="단어 설정")
            canvas.canvas#jsCanvas
            .controls#jsControls
                button#jsMode Fill
                .colors 
                    .color.jsColor(style="background-color:rgb(0,0,0)")
                    .color.jsColor(style="background-color:rgb(255,255,255)")
                    .color.jsColor(style="background-color:rgb(255,59,48)")
                    .color.jsColor(style="background-color:rgb(255,149,0)")
                    .color.jsColor(style="background-color:rgb(255,204,0)")
                    .color.jsColor(style="background-color:rgb(76,217,100)")
                    .color.jsColor(style="background-color:rgb(90,200,250)")
                    .color.jsColor(style="background-color:rgb(0,122,255)")
                    .color.jsColor(style="background-color:rgb(88,86,214)")
                input(type="range", step="0.5", min="0", max="5")#lineWidth
            .chat
                .player__board#jsBoard
                ul.chat__messages#jsMessages
                form.chat__form#jsSendMsg
                    input(type="text", placeholder="메시지 입력...") 