extends base
block content 
    div
        h4 게임 페이지입니다!
        if loggedInUser
            h6 #{loggedInUser.nickname}님 반갑습니다!
    div#jsNotifications
    div#gameRoom
        form(action="")
            input(type="text", placeholder="참여하려는 방 이름 입력...")
        .roomContainer
            ul.roomList
    
    .gameContainer
        .main 
            #notify 
            canvas.canvas 
            .controls
                button Fill
                .colors 
                    .color.jsColor(style="background-color:rgb(0,0,0)")
                    .color.jsColor(style="background-color:rgb(255,255,255)")
                    .color.jsColor(style="background-color:rgb(255,59,48)")
                    .color.jsColor(style="background-color:rgb(255,149,0)")
                    .color.jsColor(style="background-color:rgb(255,204,0)")
                    .color.jsColor(style="background-color:rgb(76,217,100)")
                    .color.jsColor(style="background-color:rgb(90,200,250)")
                    .color.jsColor(style="background-color:rgb(0,122,255)")
                    .color.jsColor(style="background-color:rgb(88,86,214)")
            .chat
                .player__board 
                ul.chat__messages#jsMessages
                form.chat__form#jsSendMsg
                    input(type="text", placeholder="메시지 입력...") 