extends base
block content
    div.mainBox
        h1 실시간 그림 맞추기 게임입니다
        if loggedIn 
            div.gameBox
                a(href="/game") 
                    button.btn.btn-secondary.my-2.my-sm-0#gameButton 게임 참여 