extends base
block content
    div.password
        form(method="post")
            input(placeholder="이전 비밀번호" name="oldPassword" type="password" required)
            input(placeholder="신규 비밀번호" name="updatePassword" type="password" required)
            input(placeholder="비밀번호 확인" name="updatePasswordConfirm" type="password" required)
            input(type="submit" value="비밀번호 변경").btn.btn-secondary.my-3.my-sm-0