extends base
block content 
    div.profileImg 
        div 
            img(src=`${loggedInUser.image_url}`, alt="profile_image")
        div 
            span #{loggedInUser.nickname}
    div.profileScore
    div.profileRank
    div.profileBtn
        a(href=`${loggedInUser._id}/edit`) 
            button 정보 수정
        a(href=`${loggedInUser._id}/password`) 
            button 비밀번호 변경
