extends base
block content 
    div.editBox
        form(method="POST")
            label(for="img") 프로필 이미지
            input(type="image" id="img" name="img" alt="프로필 이미지" src=loggedInUser.image_url).proImg
            input(type="button" id="refresh" value="새로고침" ).btn.btn-secondary.my-2.my-sm-0.reload
            input(name="nickname" type="text" required value=loggedInUser.nickname).nickname
            input(type="submit" value="수정 완료").btn.btn-secondary.my-3.my-sm-0.submit
block scripts
    script(type="text/javascript").
        const btn = document.getElementById("refresh");
        const img = document.getElementById("img");
        btn.addEventListener("click", () => {
        img.src = `https://api.multiavatar.com/45678945/${Math.round(
            Math.random() * 1000
        )}.png`;
        });