@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.login {
  min-height: 50vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 130px 0 30px 0;
}
.login h4 {
  font-size: 30px;
  margin-bottom: 10px;
}
.login .line {
  width: 300px;
  height: 0.2vh;
  background-color: black;
  margin-bottom: 30px;
}
.login .justLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  margin-bottom: 50px;
}
.login .justLogin div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.login .justLogin form {
  width: 20vw;
}
.login .kakao {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.login .add {
  display: flex;
  justify-content: center;
}

@keyframes notification {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  50% {
    transform: translateY(-90px);
    opacity: 1;
  }
  100% {
    transform: translateY(-70px);
    opacity: 1;
  }
}
@keyframes dissapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.notification {
  opacity: 0;
  bottom: -100px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  background-color: white;
  padding: 20px 50px;
  text-align: center;
  border-radius: 50px;
  animation: notification 0.5s ease-out forwards, dissapear 0.5s ease-in forwards;
  animation-delay: 0.5s, 2s;
  color: white;
}

.chat {
  height: 75vh;
  width: 30vw;
}
.chat .chat__messages {
  height: 95%;
  width: 120%;
  margin-bottom: 5px;
  padding: 20px 10px;
  overflow: scroll;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
.chat .chat__messages li {
  margin-bottom: 10px;
}
.chat .chat__messages li span {
  font-weight: 600;
}
.chat .chat__messages li .self {
  color: #2c2c2c;
}
.chat .chat__messages li .out {
  color: rgb(255, 149, 0);
}
.chat .chat__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat .chat__form input {
  height: 30px;
  width: 120%;
  padding: 0px 25px;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  position: relative;
  right: -25px;
}

.gameContainer {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}
.gameContainer .canvasContainer {
  margin-right: 15px;
}
.gameContainer .canvas,
.gameContainer .chatMessages {
  background-color: white;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
.gameContainer .main #jsCanvas {
  width: 700px;
  height: 700px;
}
.gameContainer .main .gameDisplay {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.gameContainer .main .controls {
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gameContainer .main .controls .colors {
  margin: 20px;
  display: flex;
}
.gameContainer .main .controls .colors:hover .color {
  opacity: 0.95;
  transform: translateX(-3px);
}
.gameContainer .main .controls .colors .color {
  height: 50px;
  width: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 25px;
  transition: opacity 0.1s linear, scale 0.1s linear, transform 0.1s linear;
}
.gameContainer .main .controls .colors .color:hover {
  opacity: 1;
  transform: scale(1.1);
}
.gameContainer .main .controls .colors .color:hover ~ .color {
  transform: translateX(3px);
}
.gameContainer .main .controls .colors .color.selectedColor {
  box-shadow: none;
}
.gameContainer .main .controls button {
  margin-left: 25px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 0px;
  padding: 5px 7px;
  min-width: 50px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid rgb(142, 142, 147);
  color: rgb(142, 142, 147);
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.1s linear;
}
.gameContainer .main .controls button:active {
  transform: scale(0.98);
}

/*
.player__board {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 36px;
  grid-gap: 10px;
  margin-bottom: 30px;
  span {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    margin-right: 20px;
    width: 100%;
    &:last-child {
      margin-right: 0;
    }
  }
  div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
*/
.player__board {
  margin-right: 15px;
  width: 35%;
  height: 75vh;
}
.player__board span {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  margin-right: 20px;
  position: relative;
  top: 165px;
  width: 100%;
}
.player__board span:last-child {
  margin-right: 0;
}
.player__board div {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}

.mainBox {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  justify-content: flex-start;
  align-items: center;
}
.mainBox h1 {
  font-size: 40px;
}

.gameBox {
  position: absolute;
  bottom: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.gameBox button {
  font-size: 38px;
  background-color: skyblue;
}

.userInfo {
  font-size: 30px;
  margin-bottom: 30px;
}
.userInfo > div {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userInfo > div a {
  text-decoration: none;
}

.jsRooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 35vh;
}
.jsRooms input {
  font-size: 18px;
  width: 350px;
  margin-left: 20px;
}
.jsRooms .roomContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.jsRooms .roomContainer .roomList {
  border: 0px;
  margin: 1px;
}
.jsRooms .roomContainer .roomList:focus {
  border: 1px solid;
}

.justSignup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  margin-bottom: 50px;
}
.justSignup div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.justSignup form {
  width: 20vw;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Nanum Pen Script", cursive;
}
button :focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  font-size: 22px;
  font-family: "Nanum Pen Script", cursive;
  background-color: #f5f8fc;
  min-height: 100%;
}
body .loginBox,
body .jsRooms,
body .gameContainer {
  display: none;
}
body.loggedOut .loginBox {
  display: block;
}
body.loggedIn .jsRooms {
  display: flex;
}
body.enterRoom .jsRooms {
  display: none;
}
body.enterRoom .gameContainer {
  display: flex;
}
body footer {
  margin-top: 100px;
  text-align: right;
}

nav {
  font-size: 28px;
  outline: none;
  margin-bottom: 50px;
}
nav a {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
